body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.question-form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
}

textarea,input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question-form button {
    background-color: #333;
    color: #f2f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.question-form button:hover {
    background-color: #555;
}